@model QuanLyNhanSu.Models.LoaiCa

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center">Quản lý ca</h2>

    <!-- Form thêm mới ca làm việc -->
    <div class="card mt-4">
        <div class="card-header bg-primary text-white">
            Sửa thông tin loại ca
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="IdCa" />
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label">Tên ca</label>
                    <input asp-for="TenCa" type="text" class="form-control" id="TenCa">
                    <span asp-validation-for="TenCa" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Giờ bắt đầu</label>
                    <input asp-for="GioBatDau" type="time" class="form-control" id="GioBatDau">
                    <span asp-validation-for="GioBatDau" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Giờ kết thúc</label>
                    <input asp-for="GioKetThuc" type="time" class="form-control" id="GioKetThuc">
                    <span asp-validation-for="GioKetThuc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Hệ số lương</label>
                    <input asp-for="HeSoLuong" type="number" class="form-control" id="HeSoLuong" >
                    <span asp-validation-for="HeSoLuong" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Lưu</button>
            </form>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
