@model QuanLyNhanSu.Models.DanToc



<form data-ajax="true" action="@Url.Action("Create", "DanTocs")" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="TenDT" class="control-label"><strong>Tên dân tộc:</strong></label>
            <input asp-for="TenDT" class="form-control" />
            <span asp-validation-for="TenDT" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
