@model QuanLyNhanSu.Models.PhongBan

<form data-ajax="true" action="@Url.Action("Edit", "PhongBans")" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdPB" />
    <div class="modal-body">
        <div class="form-group">
            <label asp-for="TenPB" class="control-label"><strong>Tên phòng ban:</strong></label>
            <input asp-for="TenPB" class="form-control" />
            <span asp-validation-for="TenPB" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
